<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utiset.muffin.muffin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FeedItemActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cf0ba8d042175bb9b820cb9dfaf68678ae7420ad" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

        <service
            android:name="com.utiset.muffin.services.PollService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
